#searchResults ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0 !important;
}
.zipSelect:hover {
    background: rgba(108, 117, 125, 0.5);
    transition: .07s;
}
.zipSelect {
    padding: 1em;
    cursor: pointer;
}
