
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}
/* Colors */
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
    --special-color-light: #F4F4F4;
    --special-color-dark: #2C2C2C;
    --special-color-whitelight: #FFFFFF; 
    --special-color-darklight: #000000;
    scroll-behavior: smooth;
}


body { 
    margin: 0;
    font-family: var(--font-default);
    background-color: var(--background-color-light);   
    color: black; 
}
.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark); 
}

.special-element {
    background-color: var(--special-color-light);
    height: 750px;
    background-color: #F4F4F4;
    padding-top: 92px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 320px) {
    .magacin {
        display: flex;
    }
}

.dark-mode .special-element {
    background-color: var(--special-color-dark);
}

.dark-mode .bottomnav {
    background-color: var(--special-color-dark);
}
.dark-mode .navul {
    background-color: var(---special-color-dark);
}

.dark-mode .item {
    background-color: var(---special-color-dark);
}

.dark-mode .header {
    background-color: var(---special-color-dark);
}



  #popup {
    top: auto;
    bottom: 10px;
    outline: none;
  }

a {
    color: var(mary);
    text-decoration: none;
}


a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}
section {
    padding: 80px 0;
    overflow: hidden;
}

h3{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

}

.section-header{
    padding-top: 148px;
    padding-bottom: 0;
}


.top{
    justify-content: center; 
    width: 85.5%;
    height: 100%;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}

.bottomnav {
    background-color: var(--special-color-whitelight);
    display: flex;
    margin: 0 auto;
    height: 65px;
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.navul{
    background-color: var(--special-color-whitelight);
    padding: 0;
    width: 85.5%;
    display: flex;
    background-color: #FFFFFF;
    padding-left: 0;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
}
ul {
    display: 0;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FFFFFF;
    height: 65px;
  }
  
  li {
    float: left;
    border-right:0.5px solid #88878766;
    width: 18%;
    height: 65px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }
   .lidown{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #474747;
    padding-left: 3px;
  }

.languages{
    width: 81%;  
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    
}
@media (max-width: 768px) {
    .top {
        width: 100%;
    }

    .bottomnav {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        top: 65px;
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navul li {
        float: none;
        width: 100%;
        text-align: left;
        border-right: none;
        border-bottom: 0.5px solid #88878766;
    }

    .navul a {
        line-height: normal;
        padding: 15px;
    }
}
.srpski{
    height: 18px;   
    padding-right: 16px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #888787;
    
}
.langs{
    height: 18px;   
    padding-right: 16px;
    text-decoration: underline;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #595959;
}

.downlinks{
    height: 18px;   
    padding-right: 16px;
    text-decoration: underline;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.lastlinks{
    height: 18px;   
    padding-right: 16px;
    text-decoration: underline;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19.32px;
    color:  #FFFFFF80;
}

.magyar{
    height: 18px;   
    text-decoration: underline;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #595959;
}



.logopic{
    height: 75px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    
}

  li:first-child{
    border-left:0.5px solid #88878766;
  }

  li:last-child {
    border-right: 0.5px solid #88878766;
   
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .recolor{
    color:#474747;  
  }

  
.navbar-break {
  flex-basis: 100%;
  height: 0;
}

.header {
    width: 100%;
    height: 100%;
    margin: auto;
    background: #D9D9D9;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .top {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .bottomnav {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .logopic {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .languages {
        flex-direction: column;
    }
}

.dvgbroj
{
    font-size: 28px;
    color:#474747;
    line-height: 34px;
    text-align: center;
    padding-bottom: 32px;
}
.dvgnegy
{
    font-weight: 700;
    font-size: 42px;
    color:#303030;
    line-height: 34px;
    text-align: center;
    padding-bottom: 25px;
}


.three-img{
    margin: auto;
    width: 400px;
    height: 270px;
}

.szakadok{
    width: 50%;
    display: flex 1;
}


.new-img{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.kepmellett{
    margin-top: 34px;
    padding-top: 0;
    
    height: 504px; 
}

@media screen and (min-width: 320px) {
    .kepmellett {
      display: block; 
    }
  }

.szoveg{
    width: 50%;
    height: 504px;
    
}



.velep{
    width: 506px;
    height: 68px;
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #474747;
    margin-top: 27px;
    margin-bottom: 37px;
}

.velepsz
{
    margin-top: 54px;
    padding-bottom: 24px;
    width: 524px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color:#474747;
}

.button3 {
    background-color: #BF0F0F;
    color: #FFFFFF;
    border-radius: 4px;
    gap: 8px;
    width: 184px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    border: none;
}


.buttondiv{
    margin: auto;
    width: 152px;
    height: 18px;
    font-family: Roboto;
    font-weight:500;
    font-size: 16px;
    line-height: 18px;
    border: none;

}
.buttonclass{

  position: relative;
}

.atszin{
    color: #474747;
}

.atszinlent{
    color: #FFFFFF;
}

.ped{
    letter-spacing: 15px;
}

.pratnas{
    margin-top: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.center{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lastfoot{
    display: flex;
    width: 100%;
    height: 68px;
    background-color: #00000054 ;
    align-items: center;
}

.lastfootdivs{
    margin-left: 65px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.32px;
    letter-spacing: 3%;
    padding: 10px;
    color: #FFFFFF4D; 
}

.lastfootdivs:last-child {
    margin-left: 250px;
   
  }
.lastfootdivstwo{
    margin-left: 163px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.32px;
    letter-spacing: 3%;
    padding: 10px;
    color: #FFFFFF80; 
}
.lastfootdivsthree{
    margin-left: 67px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.32px;
    letter-spacing: 3%;
    padding: 10px;
    color: #FFFFFF80; 
}

.centerbrand{
    
    text-align: center;
}

.button4{
    background-color: #BF0F0F;
    color: #FFFFFF;
    padding:16px;
    width: 255px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    border: none;
    border-radius: 4px;
}

hr.new1{
    margin-left: 0;
    border: 1px solid #C4C4C466;
    width: 520px;
}

hr.new2{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 1px solid #BF0F0F;
    width: 137px;
}



.dvgcomp{  
    margin-bottom: 0;
    margin-top: 0;
    width: 300px;
    height: 62px;
    font-weight: 700;
    font-size: 42px;
    line-height: 34px;
    text-align: left;
    color: #303030;
}
hr.new3{
    float: left;
    border: 2px solid #BF0F0F;
    width: 50px;
}
hr.new4{
    margin: 0 auto;
    border: 4px solid #BF0F0F;
    width: 137px;
    align-items: center;
}
hr.new5{
    margin: auto;
    border: 3px solid #C4C4C466;
    opacity: 40%;
    width: 524px;
    align-items: center;
}
hr.new6{
    margin: auto;
    border: 3px solid #BF0F0F;
    width: 52px;
    align-items: center;
}

hr.new7{
    float: left;
    border: 2px solid #BF0F0F;
    width: 50px;
}

.card-img{
    width: 100%;
}

.card-items{
    margin-top: 5%;
    margin-bottom: 1%;
    height: 22px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: #474747;
    
}

.imagesbottom{
    padding-top: 37px;
    width: 1060px;
    display: flex;
    margin: 0 auto;
}

.redblock{
    width: 1224px;
    height: 152px;
    display: flex;
    margin: 0 auto;
    align-items: center;
   
}

.footerdiv{
    width: 100%;
    height: 383px;
    display: flex;
    margin: 0 auto;
    align-items: center;
   
}

.dvglogodown{
    padding-right: 5%;
    height: 100%;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
   

}

.prostor{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-right: 1px solid #FFFFFF33;
    font-family: Inter;
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
}

.prostor:last-child {
    border-right: none;
   
  }

.prostordown{
    margin-top: 1%;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    align-items: center;
}

.prostordowntwo{
    margin-top: 4.8%;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    align-items: center;
}
.footersplit{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-right: 1px solid #FFFFFF33;
    border-left: 1px solid #FFFFFF33;
    font-family: Inter;
    text-align: left;
}

.lent{
    margin-top: 0;
    margin-bottom: 0;
}

.lentsplit{
    padding-left: 2%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    border-right: 1px solid #FFFFFF33;
    
    font-family: Roboto Condensed;
    text-align: left;
}

.footerlittle{
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
}

.hide{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}
.hider{
    margin-bottom: 0;
}

.midle{
    align-items: center;
}

.haot{
    color: #474747;
    padding-top: 25px;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-family: Inter;
    padding-bottom: 44px;
}

/*.behindimg{
    height: 750px;
    background-color: #F4F4F4;
    padding-top: 92px;
    position: relative;
    overflow: hidden;
}*/

.backer{
    position: absolute;
    bottom: -25px;
    left:0;
}

.hrotdiv{
    margin: auto;
    width: 510px;
    height: 152px;
    margin-top: 83px;
    text-align: center;
    align-items: center;
}
.restribucija {
    background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url("../img/testimonials-bg.jpg") center center;
    background-size: cover;
    margin: auto;
    height: 502px ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    display: flex

}
@media (min-width: 0px) {
    .restribucija {
        background-attachment: fixed;
    }
}

.hero {
    width: 100%;
    min-height: 50vh;
    background-color: var(--color-secondary);
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: rgba(255, 255, 255, 0.8);
}



.proizvodi{
    margin: 0 auto;
    display: flex;
    width: 524px;
    height: 67px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 22.4px;
    color: #474747;
}

.hero h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

#mukodj{
    width: 1224px;
    height: 333px;
}


.pouzd
{
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 10px ;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.container{
    display: flex;
    gap: 55px;
}
.container2{
    display: flex;
    gap: 15px;
}
@media screen and (max-width: 800px) {
    .container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
@media screen and (min-width: 320px) {
    .container2 {
      display: flex;
    }
  }

.meter{
    font-weight: 900;
    font-size: 18px;
    line-height: 34px;
}

.card
{
    margin: 0 auto;
    display: flex 1;
}

.card:first-child{
    margin-left: 104px;
  }
  .card:last-child{
    margin-right: 104px;
  }

.magacin{
        font-size: 14px;
        background-image: url("../img/hero-bg.png");
        background-color: var(--color-secondary);
        color: white;
        height: 150px;
}

@media (min-width: 320px) {
    .magacin {
        display: flex;
    }
}

.item{
    width: 110px;
    flex: 1;
    background-color: #FFFFFF;
    text-align: center;
}

.bottomitems{
   margin: 0 auto;
   display: flex;
    width: 115px;
    height: 161px;
   
}

.item img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    background-image: url("../img/hatter.png");
    background-color: var(--color-secondary);
    color: white;
}


.lstbttn{
     
        text-align: center;     
        padding-top: 10px;    
        padding-bottom: 10px;  
         
}

.image-container {
    width: 86px;
    height: 85px;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 10px;
    
    border-radius: 5px;
}

.text-container p {
    margin: 0;
}

@media (max-width: 575px) {
    .hero h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
@media (min-width: 0px) {
    .features {
        background-attachment: fixed;
    }
}
  

/* slider */


  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
  }

  swiper-slide img {
    margin: auto;
    display: block;
    height: 700px;
    width: 100%;
  }

/* bottom swipper */


  swiper-slide img.kicsi {
    display: block;
    width: 232px;
    height: 232px;
    object-fit: cover;
  }

.swiperdown{
    margin: 0 auto;
    display: flex;
    width: 232px;
    height: 50px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: #474747;
    background-color: #FFFFFF;
    text-align: center;
}

.bgcolor{
    padding-right: 16px;
    
    height: 270px;
}

  .lastswiper{
    width: 1224px;
    height: 617px;
    margin: 0 auto;
    gap: 60px;
  }

  .slideheight{
    margin-right: 0;
    height: 232px;
  }


.mobile-container{
    max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  } 


/*popup*/
.content {
    height: 2000px; /* To ensure there is enough content to scroll */
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color :#D9D9D9;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    color:#000000;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.close {
    position: absolute;
    padding-left: 100%;
    
    font-size: 24px;
    cursor: pointer;
}

.darkmodebttn{
    margin: 0 auto;
}


.hamburger {
    display: none; /* Hide by default */
    cursor: pointer;
    padding: 10px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

/* Show the hamburger menu button only in mobile view */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    
    .bottomnav {
        display: none; /* Hide the navigation menu by default on mobile */
    }

    .navul {
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4; /* Change background color */
        position: absolute;
        top: 100%; /* Position it below the header */
        left: 0;
        width: 100%;
        padding: 10px;
    }
}






.topnavig {
    overflow: hidden;
    background-color: #333;
    display: none; /* Hide the navigation by default */
}

.topnavig a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavig a:hover {
    background-color: #ddd;
    color: black;
}

.topnavig a.active {
    background-color: #04AA6D;
    color: white;
}

.topnavig .icon {
    display: none;
}

@media screen and (max-width: 880px) {
    .topnavig.responsive { /* Show the navigation on small screens */
        display: block;
    }

    .topnavig{
        display: block;
    }
    
    .topnavig a:not(:first-child) {
        display: none; /* Hide other links on small screens */
    }
    
    .topnavig a.icon {
        float: right;
        display: block;
    }
    
    .topnavig.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnavig.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}